/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&family=Poppins:wght@500&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&family=Poppins:wght@500&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --site-announcement-bar-stripe-color1: hsl(167deg 68% 85%);
  --site-announcement-bar-stripe-color2: hsl(167deg 68% 95%);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

html {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
}

/* 小空调自定义样式 */
/* #airConditioning {
  padding-left: 30px;
  border-left: 0.5px solid var(--ifm-color-emphasis-300);
  float: right;
  margin-top: -630px;
  height: 651px;
  overflow: hidden;
  zoom: 80%;
} */

/* tg comments */
#comments-app-27ZP8kvt-1 {
  overflow: auto;
  border: none;
  height: 186px;
}

/* @media screen and (max-width: 767px) {
  #airConditioning {
    display: none;
  }
} */

/* html[data-theme="dark"] #airConditioning {
  padding-left: 30px;
  border-left: 1px solid var(--ifm-color-emphasis-300);
  float: right;
  margin-top: -660px;
  height: 651px;
  overflow: hidden;
} */

hr {
  border: 0.5px solid rgb(245, 244, 244);
  padding: 0;
  margin: 0;
  width: 90%;
  color: rgb(201, 120, 120);
}
blockquote {
  transition: all 0.5s ease-in-out;
  /* background: var(--ifm-color-primary-lighter); */
  /* border-bottom: #25c2a0 1px solid; */
  background-color: #f8f8f9;
  font-size: 0.9em;
  border-image-source: linear-gradient(to left, #8f41e9, #f8f8f8);
  box-shadow: 1px 1px 5px 5px rgba(139, 138, 138, 0.01);
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 5px;
}
blockquote:hover {
  /* border-left: 2px solid var(--ifm-color-primary); */
  border-image-source: linear-gradient(to left, #8f41e9, var(--ifm-color-primary));
  border-image-slice: 1;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0);
}

html[data-theme='dark'] blockquote {
  background-color: rgba(0, 0, 0, 0.3);
}

code {
  color: var(--ifm-color-primary);
  font-family: 'Noto Sans';
}

.markdown > h2 {
  border-left: var(--ifm-color-primary-dark) 3px solid;
  padding-left: 10px;
  line-height: 100%;
  border-left: var(--ifm-color-primary-dark) 7px solid;
  border-radius: 1px;
}
.markdown > h3 {
  padding-left: 10px;
  line-height: 100%;
  border-left: var(--ifm-color-primary-darker) 4px solid;
  border-radius: 1px;
}
.markdown img {
  display: block;
  margin: 1rem auto;
}

img-annotation {
  display: block;
  color: #a9b1bb;
  margin: -1rem 0 1rem;
  text-align: center;
  font-size: 0.7rem;
}

p {
  margin: 15px 0 15px 10px;
}
/* 徽章居左 */
.Badges {
  display: inline-block !important;
  margin: 0.5rem 0.3rem !important;
}

/* 公告栏 */
div[class^='announcementBar_'] {
  background: repeating-linear-gradient(
    35deg,
    var(--site-announcement-bar-stripe-color1),
    var(--site-announcement-bar-stripe-color1) 20px,
    var(--site-announcement-bar-stripe-color2) 10px,
    var(--site-announcement-bar-stripe-color2) 40px
  );
  font-weight: 700;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}
/* .dropdown__menu{
  min-width: 7rem!important;
} */

.margin-vert--lg > .container > .row {
  flex-direction: column-reverse!important;
}

.margin-vert--lg > .container > .row > div > h3{
  font-size: 1.8rem;
}

.margin-vert--lg > .container > .row > div > ul > li{
  line-height: 2.0rem;
  letter-spacing: 0.1rem;
  width: 49vw!important;
}